
@{
    ViewBag.Title = "About application";
}

<div class="row">
    <h2>@ViewBag.Title</h2>
    <p>
        This application is a test task for courses provided by Intetics Co.
    </p>
</div>
    


